.lydia-wrapper{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 3;
    height: 0px;
    overflow: hidden;
}

.console,.query{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.7);
    color: #0C0;
    border: 1px solid #0C0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAE0lEQVQImWNgOMcghYGxA4pUAgDN8w2ZtGfV5wAAAABJRU5ErkJggg==);
}

.console{
    height: calc(100% - 48px);
    resize: none;
    border-bottom: 0px;
    padding-bottom: 48px;
}

.query{
    height: 46px;
}

.blink
{
	width: 5px;
	height: 14px;
	background-color: #0C0;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform:  opacity: 0.0;}
}
